html, body {
    width: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
    min-width:999px;
    position:relative;
    font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans';
}

body {
    width:expression(document.body.clientWidth < 999? "999px": "auto" );
}

a {outline: 0;}
a img {
    border:none;
}
p, h1, h2, h3 {
    padding:0px;
    margin:0px;
}
.page {
    width:999px;
    left:50%;
    margin-left:-499px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    z-index:10;
    position:relative;
}

.header {
    height: 46px;
    background: url("/img/theme/headerBg01.png") 0 -92px repeat-x;
    margin-bottom: 35px;
}
.header div {
    position: relative;
    z-index: 2;
}
.header_l,
.header_r {
    position: absolute !important;
    z-index: 1 !important;
    background-image: url("/img/theme/headerBg01.png");
    width: 50px;
    height: 46px;
}
.header_l {
    background-position: 0 0;
    left: 0;
}
.header_r {
    right: 0;
    background-position: 0 -46px;
}
.header_logo {
    position: absolute !important;
    font-size: 30px;
    left: 15px;
}
.header_logo a {
    color: #fff;
    text-shadow: 1px 1px 1px #525252;
    filter: dropshadow(color=#525252, offx=1, offy=1);
    text-decoration: none;
}
.header_user {
    position: absolute !important;
    right: 15px;
    top: 5px;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 1px #525252;
    filter: dropshadow(color=#525252, offx=1, offy=1);
}
.header_logout {
    position: absolute !important;
    right: 15px;
    top: 20px;
    font-size: 10px;
    color: #fff;
}
.jp-playlist-player {
    position: absolute !important;
    width: 600px;
    top: 0;
    left: 170px;
    height: 46px;
}
.header_logout {
    cursor: pointer;
}
.header_logout:hover {
    text-decoration: underline;
}
.login_button {
    position: absolute;
    left: 440px;
    top: 75px;
}

#siteMenu {
    float: left;
    width: 140px;
    margin: 0 25px;
}

#siteMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
#siteMenu ul li {
    height: 22px;
    padding: 2px 10px 0 10px;
}
#siteMenu ul li.current,
#siteMenu ul li:hover {
    background: #dae1e8;
    border-top: 1px solid #ccc;
}
#siteMenu ul li a {
    color: #2b587a;
    font-size: 11px;
    text-decoration: none;
}

#vkLibrary {
    float: left;
    width: 400px;
    margin-left: 20px;
    overflow: hidden;
}
#playlistPlayer {
    float: left;
    width: 330px;
    margin-left: 30px;
    overflow: hidden;
}
#vkLibrary h1,
#playlistPlayer h1 {
    margin: 0 0 10px 0;
    font-size:18px;
    font-weight: normal;
}
#vkLibrary h1 {
    color: #2b587a;
}
#playlistPlayer h1 {
    color: #000;
}
#vkLibrary h1 a,
#playlistPlayer h1 a {
    color: #2b587a;
}
#playlistPlayer h1 a.save {
    display: block;
    position: absolute;
    margin: 5px 0 0 0;
    width: 14px;
    height: 14px;
    background: url('/img/theme/save.gif');
    text-decoration: none;
}
#playlistPlayer h1 .text {
    padding: 0 0 0 20px;
}
#vkLibrary ul,
#playlistPlayer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#vkLibrary ul li,
#playlistPlayer ul li.jplayer_playList_item {
    position: relative;
    font-size: 11px;
    line-height: 23px;
    height: 23px;
    overflow: hidden;
    padding-right: 25px;
    padding-left: 45px;
}
#playlistPlayer ul li.jplayer_playList_item {
    cursor: move;
}
#playlistPlayer ul li.jplayer_playList_current {
    background: #eee;
}
#vkLibrary ul li a,
#playlistPlayer ul li a {
    color: #000;
    text-decoration: none;
}
#vkLibrary ul li b,
#playlistPlayer ul li b {
    color: #2b587a;
}
#vkLibrary a.playerPlay {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 3px;
    width: 16px;
    height: 17px;
    background: url('/img/theme/play.gif');
}
#vkLibrary a.playerAdd {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 3px;
    width: 16px;
    height: 17px;
    background: url('/img/theme/add.gif');
}
#vkLibrary div.playerTime,
#playlistPlayer div.playerTime {
    position: absolute;
    right: 3px;
    font-size: 10px;
    color: #777;
}
#playlistPlayer a.play {
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 3px;
    width: 16px;
    height: 17px;
    background: url('/img/theme/play.gif');
}
#playlistPlayer a.delete {
    display: inline-block;
    position: absolute;
    left: 23px;
    top: 3px;
    width: 16px;
    height: 17px;
    background: url('/img/theme/del.gif');
}
