html, body {
    width: 100%;
    height: 100%;
    padding:0px;
    margin:0px;
    min-width:999px;
    width:expression(document.body.clientWidth < 999? "999px": "auto" );
    position:relative;
}

a img {
    border:none;
}
p, h1, h2, h3 {
    padding:0px;
    margin:0px;
}
.page {
    width:999px;
    left:50%;
    margin-left:-499px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    z-index:10;
    position:relative;
}

.header {
    height: 46px;
    background: url("/img/theme/headerBg01.png") 0 -92px repeat-x;
    margin-bottom: 35px;
}
.header div {
    position: relative;
    z-index: 2;
}
.header_l,
.header_r {
    position: absolute !important;
    z-index: 1 !important;
    background-image: url("/img/theme/headerBg01.png");
    width: 50px;
    height: 46px;
}
.header_l {
    background-position: 0 0;
    left: 0;
}
.header_r {
    right: 0;
    background-position: 0 -46px;
}
.header_logo {
    position: absolute !important;
    font: 30px Tahoma;
    left: 15px;
}
.header_logo a {
    color: #fff;
    text-shadow: 1px 1px 1px #525252;
    filter: dropshadow(color=#525252, offx=1, offy=1);
    text-decoration: none;
}
.header_user {
    position: absolute !important;
    right: 15px;
    top: 5px;
    font: bold 11px Tahoma;
    color: #fff;
    text-shadow: 1px 1px 1px #525252;
    filter: dropshadow(color=#525252, offx=1, offy=1);
}
.header_logout {
    position: absolute !important;
    right: 15px;
    top: 20px;
    font: 10px Tahoma;
    color: #fff;
}
.jp-playlist-player {
    position: absolute !important;
    width: 360px;
    top: 0;
    left: 170px;
    height: 46px;
}
.header_logout {
    cursor: pointer;
}
.header_logout:hover {
    text-decoration: underline;
}
.login_button {
    position: absolute;
    left: 440px;
    top: 75px;
}

#siteMenu {
    float: left;
    width: 140px;
    margin: 0 25px;
}

#siteMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
#siteMenu ul li {
    height: 23px;
    padding: 0 10px;
}
#siteMenu ul li.current {
    background: #dae1e8;
}
#siteMenu ul li a {
    color: #2b587a;
    font: 11px Tahoma;
    text-decoration: none;
}

#playlistManager {
    float: left;
    width: 330px;
    margin-left: 20px;
    overflow: hidden;
}
#playlistPlayer {
    float: left;
    width: 330px;
    margin-left: 30px;
    overflow: hidden;
}
#playlistManager h1,
#playlistPlayer h1 {
    margin: 0 0 10px 0;
    font: normal 18px Tahoma;
}
#playlistManager h1 {
    color: #2b587a;
}
#playlistPlayer h1 {
    color: #000;
}
#playlistManager h1 a,
#playlistPlayer h1 a {
    color: #2b587a;
}
#playlistManager ul,
#playlistPlayer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#playlistManager ul li,
#playlistPlayer ul li {
    font: 11px Tahoma;    
    line-height: 23px;
    height: 23px;
    overflow: hidden;
}
#playlistManager ul li a,
#playlistPlayer ul li a {
    color: #000;
    text-decoration: none;
}
#playlistManager ul li a b,
#playlistPlayer ul li a b {
    color: #2b587a;
}
